<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat Web</title>
    <link rel="stylesheet" href="./chat.css">
</head>

<body>
    <div id="menu">
        <div class="menu-icon" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="menu-bar" id="menu-bar">
            <li><a href="#" onclick="toggleList('userListSection')">Create Group</a></li>
            <li><a href="#?group=common" onclick="toggleVisibility(event)" value='common' name="common">common</a></li>
        </ul>
    </div>


    <!-- User List Section -->
    <div class="list-section" id="userListSection">
        <h2>User List</h2>
        <form id="createGroupForm" onsubmit="createGroup(); return false;" style="display: block;">
            <div>
                <label for="userSearch">Search Users:</label>
                <input type="text" id="allUserSearch" oninput="filterAllUsers()">
            </div>
            <div class="user-list-form">
                <label for="selectAll">Select All Users:</label>
                <input type="checkbox" id="selectAll" onclick="selectAllUsers()">
            </div>
            <div class="user-list-form" id="userListForm">
                <!-- User checkboxes will be dynamically added here -->
            </div>
            <button type="submit">Create Group</button>
        </form>
    </div>

    <div id="user-container">
        <h1>Group Chat Web</h1>
        <h2 id="username"></h2>
    </div>

    <div id="common-container">
        <div id="details-container">
            <i id="user"></i>
            <h2 id="name"></h2>

        </div>


        <div class="container">
            <button id="deleteGroup" onclick="deleteGroup()">delete Group</button>

            <div id="Button-container">
                <button id="members" onclick="displayUsers()">Group Members</button>
                <button id="addMembers" onclick="addMembers()">Add members</button>
                <button id="leaveGroup" onclick="leaveGroup()">Leave Group</button>

            </div>

            <br>
            <div id="GMembers">

            </div>
            <div id="newUsers" style="display: none;">
                <form id="createGroupForm" onsubmit="addToGroup(); return false;" style="display: block;">
                    <div>
                        <label for="userSearch">Search Users:</label>
                        <input type="text" id="userSearch" oninput="filterUsers()">
                    </div>

                    <div id="addUser">

                    </div>
                    <button type="submit">Add To Group</button>
                </form>
            </div>

            <div class="messages-container">
                <table>
                    <thead>
                        <tr>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tbody id="messages">

                    </tbody>
                </table>
            </div>
            <div class="form-container">
                <form onsubmit="sendMessage(event)" id="myform">
                    <label for="message">Message :</label>
                    <input type="text" name="message" id="message" required>
                    <button id="emojiPickerButton" type="button" onclick="toggleEmojiPicker()">🙂</button>
                    <button id="send"> Send Message</button>
                </form>
            </div>
        </div>
    </div>


    <div class="popup" id="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="errorMessage"></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/emoji-button@3.2.1/dist/emoji-button.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="./chat.js"></script>
</body>

</html>