<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <h1>Signup</h1>
    <br>
    <form onsubmit="signup(event)">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="phoneNumber">Mobile Number</label>
        <input type="tel" name="phoneNumber" id="phoneNumber">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <br>
        <button id="Submitbtn">Submit</button>
    </form>
    <a class="existing-user-link" href='../Login/login.html'>Existing User - Login</a>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="./signup.js" ></script>
</body>
</html>